@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }
img { display: block; max-width: 100%; }
h2 {
    font-size: 2rem;
}

header {
    height: 100dvh;
    background: url("img/scott-goodwill.jpg") center/cover no-repeat;
    background-size: cover;
    position: relative;
}

.header-title {
    text-align: right;
    position: absolute;
    color: #fff;
    right: 25rem;
    bottom: 5rem;
    font-size: 5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #33292a;
    padding: 1.25rem 25rem;
}

nav ul {
    list-style: none;
    display: contents;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

#about {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
    padding: 5rem 25rem;
    align-items: center;
    gap: 50px;
}

#about div {
    max-width: 50%;
}

#about img {
    width: 30rem;
    border-radius: 5px;
}

#whatwedo {
    background-color: #33292a; 
    color: white;
    padding: 5rem 25rem;
    text-align: center;
}

#whatwedo h2 { 
    margin-bottom: 2rem; 
}

.section-desc {
    margin: 0 auto 50px;
    color: #fff;
}

.icons-grid {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-bottom: 2rem;
}

.icon-svg {
    margin-bottom: 1.5rem;
}

.icon-item span {
    font-size: 1.5rem;
    font-weight: 500;
}

#ourtrips {
    height: 100dvh;
    padding: 5rem 25rem;
    display: grid;
    place-items: center;
}

.trips-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.trips-grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

.trip-text-box {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    order: 0;
}

.trip-text-box h3 {
    font-size: 2.5rem;
    color: #000;
    font-weight: bold;
}


#wheretogo {
    background-color: #644b4f; 
    color: white;
    padding: 7rem 25rem;
}

.cta-container {
    display: flex;
    gap: 6rem;
}

.cta-left h2 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.cta-right {
    flex: 1;
}

.cta-right p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    background-color: white;
    color: #000;
    margin-top: 2rem;
    padding: 12px 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 5px;
}

#reviews {
    padding: 5rem 25rem;
    text-align: center;
    background-color: white;
}

#reviews h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem; 
}

#reviews p {
    font-size: 16px;
    line-height: 1.2;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.reviews-container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin-top: 4rem;
}

.review-card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review-card p {
    margin-bottom: 1.5rem;
}

.footer-gallery {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-gallery img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.copyright {
    background-color: #333;
    padding: 2.5rem 25rem;
    text-align: center;
    color: #fff;
}

.copyright a {
    color: #efa69d;
    text-decoration: underline;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.copyright a:hover {
    color: #e9877b;
}

.copyright h6 {
    margin-top: 0.25rem;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 3rem;
        text-align: center;
        margin: 0 auto 50px;
        padding: 0;
    }
    
    .header-content { justify-content: center; padding-right: 0; }
    
    #about, .cta-container, .reviews-container {
        flex-direction: column;
        text-align: center;
    }

    .trips-grid, .footer-gallery {
        grid-template-columns: 1fr;
    }
    .trip-text-box{
        order: -1;
    }
    .review-card{
        align-self: center;
    }
    
    nav ul { flex-wrap: wrap; gap: 15px; }
}